<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head'); %>
  <title>Admin Dashboard</title>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <h1>Welcome to the Admin Dashboard!</h1>
  <p>This is a secure area accessible only by admin users.</p>
  <!-- Add more content as needed -->
  <br>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>